{% extends "blog/base.html" %}

{% block title %}{{ article.title }}{% endblock %}
{% block style %}
    #author:hover {
        text-decoration: none;
    }
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div style="margin-top: 6em;">
            <h1 class="display-4" style="text-align: center; font-family: verdana;">{{ article.title }}</h1>
            <div class="mx-auto my-3" style="width: 25em; text-align: left;">
                <i><p style="font-size: 120%;">{{ article.annotation }}</p></i>
                <a id="author" href="/user/{{ article.author.username }}">
                    <table>
                        <tr>
                            <td rowspan="2">
                                <img class="rounded-circle" src="{{ article.author.avatar_preview.url }}" alt="Author avatar">
                            </td>
                            <td style="padding-left: 0.5em;">
                                <span style="font-family: courier;">{{ article.author.first_name }} {{ article.author.last_name }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left: 0.5em;">
                                <span style="font-size: 90%; color: dimgrey;">{{ article.date_created }}</span>
                            </td>
                        </tr>
                    </table>
                </a>
            </div>
            <img class="img-fluid" src="{{ article.logo.url }}" alt="Logo image" style="padding-top: 2em;">
        </div>
        <div class="container" style="padding-top: 4em; padding-left: 10em; padding-right: 10em;">
            {{ article.body | safe }}
        </div>
    {% else %}
        <div class="modal" id="loginModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Sign In</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="/user/login">
                            {% csrf_token %}
                            <p>{{ login_form.as_p }}</p>
                            <input type="hidden" name="next" value="{{ next }}">
                            <input class="btn btn-primary" type="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>$("#loginModal").modal("show");</script>
    {% endif %}
{% endblock %}