{% extends "blog/base.html" %}

{% block title %}{{ article.title }}{% endblock %}
{% block style %}
    #author:hover {
        text-decoration: none;
    }
{% endblock %}
{% block content %}
    <div style="margin-top: 6em;">
        <h1 class="display-4" style="text-align: center; font-family: verdana;">{{ article.title }}</h1>
        <div class="mx-auto my-3" style="width: 25em; text-align: left;">
            <i><p style="font-size: 120%;">{{ article.annotation }}</p></i>
            <a id="author" href="/user/{{ article.author.username }}">
                <table>
                    <tr>
                        <td rowspan="2">
                            <img class="rounded-circle" src="{{ article.author.avatar_preview.url }}" alt="Author avatar">
                        </td>
                        <td style="padding-left: 0.5em;">
                            <span style="font-family: courier;">{{ article.author.first_name }} {{ article.author.last_name }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left: 0.5em;">
                            <span style="font-size: 90%; color: dimgrey;">{{ article.date_created }}</span>
                        </td>
                    </tr>
                </table>
            </a>
        </div>
        <img class="img-fluid" src="{{ article.logo.url }}" alt="Logo image" style="padding-top: 2em;">
    </div>
    <div class="container" style="padding-top: 4em; padding-left: 10em; padding-right: 10em;">
        {{ article.body | safe }}
    </div>
    {% if user.username == article.author.username %}
        <div class="container" style="padding-top: 2em; padding-left: 10em; padding-right: 10em; padding-bottom: 4em;">
            <div class="row">
                <div class="col">
                    <a href="update"><button class="btn btn-primary" type="submit">Edit</button></a>
                </div>
                <div class="col">
                    <a href="delete"><button class="btn btn-danger" type="submit">Delete</button></a>
                </div>
            </div>
        </div>
    {% endif %}
    <div style="margin-top: 2em; margin-bottom: 4em;">
        <div class="mx-auto" style="text-align: center;">
            <h1 style="font-family: verdana;">Comments</h1>
            <hr>
        </div>
        <div class="mx-auto" style="width: 15em; text-align: left;">
            <form method="post" action="leave_comment">
                {% csrf_token %}
                <textarea name="body" class="form-control" placeholder="Type your comment here" required></textarea><br>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
        <div class="mx-auto" style="padding-top: 2em;">
            {% for comment in comments %}
                <div class="card mx-auto my-3" style="width: 25em; text-align: left;">
                    <div class="card-body">
                        <div class="card-title">
                            <a id="author" href="/user/{{ comment.author.username }}">
                                <table>
                                    <tr>
                                        <td rowspan="2">
                                            <img class="rounded-circle" src="{{ comment.author.avatar_preview.url }}" alt="Author avatar">
                                        </td>
                                        <td style="padding-left: 0.5em;">
                                            <span style="font-family: courier;">{{ comment.author.first_name }} {{ comment.author.last_name }}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left: 0.5em;">
                                            <span style="font-size: 90%; color: dimgrey;">{{ comment.date_created }}</span>
                                        </td>
                                    </tr>
                                </table>
                                <hr>
                            </a>
                        </div>
                        <div class="card-text">
                            <p>{{ comment.body }}</p>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="mx-auto" style="width: 15em;"><h4>There are no comments here yet.</h4></div>
            {% endfor %}
        </div>
    </div>
{% endblock %}