<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>{% block title %}Home{% endblock %}</title>
    <style>{% block style %}{% endblock %}</style>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/home"><strong>Yet Another Social Network</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a id="home" class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a id="messages" class="nav-link" href="/messages">Messages</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a id="me" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Me</a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/user/{{ user.username }}">Profile</a>
                            <a class="dropdown-item" href="/user/{{ user.username }}/settings">Settings</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/user/login">Sign In</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block content %}{% endblock %}
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        if (window.location.href.includes('/home')){
            $('#home').addClass('active');
        } else if (window.location.href.includes('/messages')){
            $('#messages').addClass('active');
        }
        else {
            $('#me').addClass('active');
        }

        if (window.location.href.includes('/prog')){
            $('#prog').addClass('active');
        } else if (window.location.href.includes('/robo')){
            $('#robo').addClass('active');
        } else if (window.location.href.includes('/math')) {
            $('#math').addClass('active');
        } else if (window.location.href.includes('/cs')) {
            $('#cs').addClass('active');
        } else if (window.location.href.includes('/bc')) {
            $('#bc').addClass('active');
        } else if (window.location.href.includes('/iot')) {
            $('#iot').addClass('active');
        } else if (window.location.href.includes('/ml')) {
            $('#ml').addClass('active');
        } else if (window.location.href.includes('/hard')) {
            $('#hard').addClass('active');
        } else if (window.location.href.includes('/do')) {
            $('#do').addClass('active');
        }
    </script>
</body>
</html>