{% extends "blog/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}
{% block style %}
    .grey a:hover {
        color: black;
    }

    .grey a {
        color: dimgrey;
    }

    .navbar-nav > li > a.active {
        color: black;
    }

    #preview {
        color: black;
    }

    #preview:hover {
        text-decoration: none;
    }
{% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-md" style="height: 2em; margin-top: 4em;">
        <ul class="navbar-nav nav-fill w-100 grey">
            <li class="nav-item">
                <a id="prog" class="nav-link" href="/home/prog">Programming</a>
            </li>
            <li class="nav-item">
                <a id="robo" class="nav-link" href="/home/robo">Robotics</a>
            </li>
            <li class="nav-item">
                <a id="math" class="nav-link" href="/home/math">Mathematics</a>
            </li>
            <li class="nav-item">
                <a id="cs" class="nav-link" href="/home/cs">Computer science</a>
            </li>
            <li class="nav-item">
                <a id="bc" class="nav-link" href="/home/bc">Blockchain</a>
            </li>
            <li class="nav-item">
                <a id="iot" class="nav-link" href="/home/iot">Internet Of Things</a>
            </li>
            <li class="nav-item">
                <a id="ml" class="nav-link" href="/home/ml">Machine Learning</a>
            </li>
            <li class="nav-item">
                <a id="hard" class="nav-link" href="/home/hard">Hardware</a>
            </li>
            <li class="nav-item">
                <a id="do" class="nav-link" href="/home/do">DevOps</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid mx-5" style="padding-top: 2em;">
        {% for article_set in articles %}
            <div class="row mb-5">
                {% for article in article_set %}
                    <div class="col">
                        <a id="preview" href="/home/{{ article.category }}/{{ article.id }}">
                            <div class="card" style="width: 300px;">
                                <img class="card-img-top" src="{{ article.logo_preview.url }}" alt="Card image">
                                <div class="card-body">
                                    <h5 class="card-title">{{ article.title }}</h5>
                                    <hr>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}