{% extends "blog/base.html" %}

{% block title %}Sign In{% endblock %}
{% block content %}
    <div class="mx-auto" style="margin-top: 8em; text-align: left; width: 15em;">
        <form method="post" action="" class="was-validated">
            {%  csrf_token %}
            <div class="form-group">
                <label for="uname">Username:</label>
                <input type="text" class="form-control" id="uname" name="uname" required>
                <div class="valid-feedback"></div>
                <div class="invalid-feedback">Fill out this field</div>
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" name="pwd" required>
                <div class="valid-feedback"></div>
                <div class="invalid-feedback">Fill out this field</div>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}